/** @format */

.cartContainer .cart {
  display: flex;
}

.cartContainer .total {
  display: block;
  padding: 5px;
  text-align: end;
  font-weight: 800;
  background-color: lightgrey;
}
.cartContainer .buy {
  background-color: orange;
  padding: 5px 60px;
  margin-top: 5px;
}
