/** @format */

.singleProduct:hover {
  background-color: rgb(250, 250, 250);
}
.singleProduct .productImg {
  height: 200px;
}
.singleProduct h3 {
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.singleProduct p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}
.singleProduct img {
  width: 100%;
  margin: auto;
  padding: 10px;
  height: 80%;
  object-fit: contain;
}

.bi-suit-heart-fill:hover,
bi-cart-plus:hover {
  fill: orangered;
}
.btnActice {
  fill: orangered;
}
/* /////////////////////////////////////////////////////////cartUi////////////////////////////////////////////////// */

.cartUi {
  display: flex;
  background-color: rgb(228, 228, 228);
  height: 100px;
  width: 100%;
}
.cartUi div {
  display: flex;
  margin: 2px;
}
.cartUi div.productTitle {
  width: 50%;
  flex-grow: 1;
}
.cartUi a {
  width: 80px;
  flex-grow: 1;
  display: flex;
}

.cartUi a img {
  padding: 3px;
  margin: 0px;
  height: 50%;
  width: 80px;
}
.cartUi div.card-footer {
  width: 15%;
}
.cartUi div.card-footer small {
  flex-direction: column;
}
/* ///////////////////////////////////////////productDetailsUi///////////////////////////////////////////////// */
.productDetailsUi .productImg {
  height: 0px;
}
.productDetailsUi a img {
  display: none;
}
.productDetailsUi:hover {
  background-color: rgb(240, 240, 240);
}

/* /////////////////////////////////////////////////responsive///////////////////////////////////////////////// */
@media screen and (max-width: 1000px) {
  .singleProduct .card-footer .card-footer-small {
    display: block;
    flex-wrap: wrap;
    text-align: center;
  }
  .singleProduct .card-footer .card-footer-small .btns {
    width: 100%;
  }
  .cartUi div.card-footer {
    width:20%;
  }
}

@media screen and (max-width: 768px) {
  .singleProduct h3 {
    font-size: 0.8em;
    margin-bottom: 0px;
  }
  .singleProduct p {
    font-size: 0.7em;
    margin-bottom: 5px;
  }


  .cartUi a {
    /* width:20px; */
  }

  .cartUi div.card-footer {
    width: 30%;
  }
}
@media screen and (max-width: 400px) {
  .cartUi div.card-footer {
    padding: 10px 0px;
    width: 30%;
    overflow: hidden;
  }
}
